html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a,
a:visited {
  color: var(--text);
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* html {
  scroll-snap-type: y;
}

section {
  height: auto;
  scroll-snap-align: center;
} */

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Coolvetica';
  src: url(../assets/coolvetica.ttf);
}

:root {
  --main: #649567;
  --text: #000;
  --asterisk: #3d4f33;
  --accent: #fafafa;
  --left-column-width: 516px;
  --right-column-width: 784px;
  --transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

html {
  position: relative;
}

body {
  background-color: var(--main);
  margin: 30px 60px 20px;
  font-family: 'Coolvetica';
}

@media (max-width: 768px) {
  body {
    margin: 20px;
  }
}
